Release oauthlib-3.0.0 changelog

Since last 3.0.0 attempt, time has past and a couple of PRs have been integrated since #512, I suggest to open a new issue.

This release contains new features, bug fixes, and breaking changes due to errors in RFC understanding.

### OAuth2.0 Provider - New features ([full feature list](https://github.com/oauthlib/oauthlib/blob/master/docs/feature_matrix.rst)):

- [x] OpenID Connect Core support
- [x] RFC7662 Introspect support
- [x] RFC8414 OAuth2.0 Authorization Server Metadata support (https://github.com/oauthlib/oauthlib/pull/605)
- [x] RFC7636 PKCE support (https://github.com/oauthlib/oauthlib/pull/617 https://github.com/oauthlib/oauthlib/pull/624)

### OAuth2.0 Provider - Bugfixes / Changes:
- [x] Add `request` to `confirm_redirect_uri` https://github.com/oauthlib/oauthlib/pull/504
- [x] Changed errors status code from 401 to 400:
  - [x] `invalid_grant`: https://github.com/oauthlib/oauthlib/issues/264
  - [x] `invalid_scope`: https://github.com/oauthlib/oauthlib/pull/620
  - [x] `access_denied`/`unauthorized_client`/`consent_required`/`login_required` https://github.com/oauthlib/oauthlib/pull/623
  - [x] 401 must have `WWW-Authenticate` HTTP Header set. https://github.com/oauthlib/oauthlib/pull/623
- [x] `confirm_redirect_uri`/`get_default_redirect_uri` has a bit changed https://github.com/oauthlib/oauthlib/issues/445
- [x] empty scopes no longer raise exceptions for implicit and authorization_code https://github.com/oauthlib/oauthlib/pull/475 / https://github.com/oauthlib/oauthlib/issues/406
- [x] `invalid_client` is now a FatalError https://github.com/oauthlib/oauthlib/issues/606

### OAuth2.0 Client - Bugfixes / Changes:
- [x] `expires_in` in Implicit flow is now an integer https://github.com/oauthlib/oauthlib/issues/569
- [x] `expires` is no longer overriding `expires_in` https://github.com/oauthlib/oauthlib/pull/506
- [x] `parse_request_uri_response` is now required https://github.com/oauthlib/oauthlib/pull/499
- [x] Unknown `error=xxx` raised by OAuth2 providers was not understood https://github.com/oauthlib/oauthlib/issues/431
- [x] New argument `include_client_id` of `prepare_request_body` https://github.com/oauthlib/oauthlib/issues/585 / wait for https://github.com/requests/requests-oauthlib/pull/331

### OAuth1.0 Client:
- [x] Support for HMAC-SHA256 https://github.com/oauthlib/oauthlib/pull/498

### General fixes:
- [x] $ and ' are allowed to be unencoded in query strings https://github.com/oauthlib/oauthlib/pull/564
- [x] Request attributes are no longer overriden by HTTP Headers https://github.com/oauthlib/oauthlib/issues/409
- [x] Removed unnecessary code for handling python2.6 
- [x] Add support of python3.7 https://github.com/oauthlib/oauthlib/pull/621

Full list of issues: https://github.com/oauthlib/oauthlib/issues?utf8=%E2%9C%93&q=is%3Aissue+sort%3Aupdated-desc+milestone%3A3.0.0+
Full list of PR: https://github.com/oauthlib/oauthlib/pulls?utf8=%E2%9C%93&q=is%3Apr+sort%3Aupdated-desc+milestone%3A3.0.0+

Best if these get merged before we release...

https://github.com/singingwolfboy/flask-dance/pull/193
https://github.com/requests/requests-oauthlib/pull/341

Another one to wait before release: https://github.com/jazzband/django-oauth-toolkit/pull/671

All checkbox are done, we only have the PR https://github.com/requests/requests-oauthlib/pull/341 missing. I think we can release 3.0.0 now and continue the work as soon as we have feedbacks on this release. Thoughs?

Nope, sounds good, are you happy to write up a changelog? If not I can help...

If you're willing to do so, I'm happy 🙄 🤣 

3.0.0 is now available in PIP, however an issue is still ongoing which prevent the ReadTheDocs documentation to be updated. Poke @thedrow

3.0.0 is now released and available in pip, and documentation up to date ! 🔥 🔥 🍾 🍾 

https://oauthlib.readthedocs.io/en/v3.0.0/oauth2/server.html#oauth2-0-provider-flows