Invalid HTTP statuses on error response

RFC 6749 Section 5.2 (http://tools.ietf.org/html/rfc6749#section-5.2) describes error response. It says that server should respond with HTTP 400 (Bad request). But oauthlib uses HTTP 401 (Unauthorized) instead for errors such as `InvalidClientError`, `InvalidGrantError`, `UnauthorizedClientError` and other related errors.

For example https://github.com/idan/oauthlib/blob/master/oauthlib/oauth2/rfc6749/errors.py#L181


Vote for 400

I'm reviving this old thread & start a PR with the changes suggested above.

Before making progress on this, I'd like to summarize the discussion which happen in the past.

- [OAuth2.0 RFC6749 working group](https://www.ietf.org/mail-archive/web/oauth/current/msg02127.html) decided to adopt 400 for error HTTP status instead of 401, cuz it requires `WWW-Authenticate` to be set, and it's not always possible in all errors responses.
- @asteinlein proposed a PR at https://github.com/oauthlib/oauthlib/pull/247 to change oauthlib's errors from 400 to 401, because _some clients seem to expect 401 for API calls related to authorization_. While it had to be true, we don't know which clients were broken.
- Several bugs popup in 3rd parties librairies https://github.com/oauthjs/angular-oauth2/issues/31 https://github.com/oauthjs/angular-oauth2/issues/32#issuecomment-88888755 https://github.com/oauthjs/angular-oauth2/issues/36 . Issues are all closed now.
- The overall consensus of the current thread, and also [RFC6749#5.2](https://tools.ietf.org/html/rfc6749#section-5.2), is that all `401` in oauthlib must be `400`. However, we have two cases with `401`:

1.  `invalid_client`, where it **MUST** be `401` if HTTP authentication is used, else it **MAY** be `401`.
2. `invalid_token`, where it **SHOULD** be `401`.

In any cases, if `401` is used, `WWW-Authenticate` **MUST** be set ([RFC2616](https://tools.ietf.org/html/rfc2616.html#section-10.4.2)).

### Other OAuth2.0 implementations

A quick overview of the most common OAuth2.0 implementations are similar to the overall consensus:
- Google returns `400` [so-question](https://stackoverflow.com/questions/13871982/unable-to-refresh-access-token-response-is-unauthorized-client) / [so-question](https://stackoverflow.com/questions/18572202/google-oauth2-unauthorized-client-by-refresh-token).
- Salesforce returns `400` [salesforce-forum](https://developer.salesforce.com/forums/?id=906F000000099liIAA).
- Azur returns `401` with `WWW-Authenticate` [azur-docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code#error-response-2).
- AWS returns `400` [aws-cognito-docs](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html). They broke the "**MUST**" of the RFC to be `401` when HTTP authentication is used.


### Conlusion
We have to align with the RFC, however to not break any implementations, we must not include these changes in 2.x.x version, but wait until 3.x.x

Please, feel free to chim in.

I cannot remember the reason/the client(s) that made me push PR #247, but I see and understand the reasons for reverting this. Thanks for the awesome research @JonathanHuot, and doing this in 3.x sounds like the best approach.

Fixed in #561 / oauthlib>= 3.0.0

according to this RFC that mentioned above invalid client also should return status 400 but in package still is 401

Hi @esfandiaryfard, could you point the exact text of the RFC ? Thanks!