OAuth 2 Server - RFC7523 - Assertions

As per http://tools.ietf.org/html/draft-ietf-oauth-assertions-10

A new and from a brief look a very generic grant type with two orthogonal purposes, client auth and as auth grants. Need to check spec maturity and research whether it can simply be added as 1 or 2 new grant types.


The RFC7523 specification is final since a couple of years now, and the overall spec is split into the Client Authentication part and the Authorization Grant part. Also Client vs Provider distinction should be done.

Authorization Grant part is implemented on client side here: https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/clients/service_application.py and we have a current ticket worth to check if this issue progress: https://github.com/oauthlib/oauthlib/issues/502

The Client Authentication part allows to replace client_id+client_secret authentication with an JWT assertion. In term of OAuth2.0 "client" metadata, it means that it adds new values to the `token_endpoint_auth_method`. Existing are: 

- none
- client_secret_post
- client_secret_basic

New from OIDC spec are:
- client_secret_jwt
- private_key_jwt


NB: Note that RFC7522 exists for SAML2 assertions, so the code must be easily extendable to this and later extensions thru the generic RFC7521.